<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Second-Hand Shop</title>
  </head>
  <body>
    <header class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">Second-Hand Shop</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">

                  {% if request.session.super_name|default:'' != '' %}
                      <li class="nav-item">
                      <a class="nav-link" href="{% url 'supervisor' %}">Report View</a>
                    </li>
                  {% endif %}
                  {% if request.session.user_name|default:'' != '' %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                       <li class="nav-item">
                      <a class="nav-link" href="{% url 'report' %}">Seller Report</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'manage' %}">Account</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                  {% elif request.session.seller_name|default:'' != ''  %}
                     <li class="nav-item">
                      <a class="nav-link" href="{% url 'productRelesase' %}">Upload Product</a>
                    </li>
                      <li class="nav-item">
                      <a class="nav-link" href="{% url 'report' %}">User Report</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'displayOrders' %}">Orders</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'manage' %}">Account</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                  {% elif request.session.super_name|default:'' != '' %}
                      <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Sign in</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'registration' %}">Sign up</a>
                    </li>
                  {% endif %}

                </ul>
              </div>

            </div>
          </nav>
    </header>
    
    <main class="container">
    {% block content %}

    {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>